.auth {
    .login{
        a{
            
    text-decoration: none;
    color: #fd8a06 !important;
        }
    }
    .register{
        a{ 
        text-decoration: none;
        color: #fd8a06 !important;
        }
    }
}